<table>
	<tr>
		<td class="statistics">Yes <%=survey.percent_yes %>%</td>
		<td class="statistics-expanded">No <%=survey.percent_no %>%</td>   
		<td class="statistics">Total votes <%=survey.votes.count %></td>
	</tr>
</table>	

