<div class="sub-nav">
  <%= link_to 'Surveys', surveys_path %> > Survey
</div>

<div>
  <h1>Editing Survey</h1>
</div> 

<div>
  <%= render 'form', survey: @survey %>
</div>  

<div>
  <%= link_to 'Show Survey', @survey %> | <%= link_to 'Delete Survey', @survey, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>