<div class="sub-nav">
  <%= link_to 'Surveys', surveys_path %> > Survey
</div>

<div>
	<h1>Survey</h1>
</div>      

<div>
  <p>Please provide a question for the survey that can be answered using yes or no.</p> 
</div>

<div>
  <%= render 'form', survey: @survey %>
</div>  
