<div class="sub-nav">
  <%= link_to 'Surveys', surveys_path %> > <b>Survey</b>
</div>

<div>
	<h1>Survey</h1>
</div>      

<div>
  <p><b>Please provide a question for the survey.</b> A question accepts yes or no responses.</p> 
</div>

<div>
  <%= render 'form', survey: @survey %>
</div>  
