<div>
  <h1>Survey</h1>
</div>  

<% if user_signed_in? && (current_user.id == @survey.surveyor_id) %>
	<div class="survey-item">
		<p><b>Survey question:</b> <%= @survey.question %></p>  
	</div>	
	<div>
	   <%= link_to 'Back', surveys_path %> | <%= link_to 'Delete', @survey, method: :delete, data: { confirm: 'Are you sure?' } %> 
	</div>
<% else %>
  <p>Sorry...you do not have permission to view this page.</p>  
	<div class="clear-links survey-question">
		<%= link_to 'Back', surveys_path %>
	</div>
<% end %>