/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a.survey-button:link, a.survey-button:visited {
  text-decoration: none;
  color: #fff;
}

a.survey-button:hover, a.survey-button:active {
  text-decoration: none;
  background-color: #0070c9;
  color: #fff;
}

input[type="radio"], label{
  float: left; 
  margin-bottom: 10px; 
}
input{
    clear: left;
}

/* nav */
nav {
  width: 100%;
  background: #c0c0c0;
  margin-bottom: 25px;
  padding: 5px 0px 5px 0px;
}

.global-nav {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px 3px 3px 3px;
  color: #fff;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

a#logo {
  color: #fff;
}

a#logo:hover, a#logo:active {
  text-decoration: none;
  background-color: transparent;
  color: #e1e1e1;
}

a.nav-link {
  font-size: 13px;
  font-weight: 1000;
  color: #fff;
}

a.nav-link:hover, a.nav-link:active {
  text-decoration: none;
  background-color: transparent;
  color: #e1e1e1;
}

.sub-nav {
  padding-bottom: 30px;
}

.survey-button {
  padding: 5px 15px 5px 15px;
  background: #0086f0;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin-top: 13px;
}

.button-left {
  float: left;
}

.button-right {
  float:right;
}

.button-bottom {
  padding-bottom: 33px;
}

.clear-links {
  clear: left;
}

tr {
  text-align: left;
}
.survey-borders {
  border-top: .5px solid #b7c4cd;
  margin-top: 15px;
}

h1 {
  padding-bottom: 21px;
}

.page-header {
  padding-top: 45px;
}

.survey-question {
  padding-top: 3px;
  padding-bottom: 3px;
}

.survey-mini-question {
  padding-top: 9px;
}

.survey-item {
  padding-bottom: 10px;
}

.statistics {
  padding: 0px 0px 7px;
}

.statistics-expanded {
  padding: 0px 10px 7px;
}
#votes {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#votes td, #votes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#votes tr:nth-child(even){background-color: #f2f2f2;}

#votes tr:hover {background-color: #ddd;}

#votes th {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
  background-color: #d0d0d0;
  color: #000;
}