<div class="sub-nav">
	<%= link_to 'Surveys', surveys_path %> > <%= link_to 'Survey', [@survey] %> > <b>Vote</b>
</div>

<div>
	<h1>Vote</h1>
</div>	

<div>
  <h4>Please provide a response to the survey question below.</h4> 
  <p><%= @survey.question %></p>
</div>

<div>
	<%= render 'form', vote: @vote %>
</div>


